* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
